.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5;
  }
  
  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #2ba2b4; 
    border-radius: 2px;
  }
  